/* section class=".top-banner" */

*{
    /* font-family: 'Merriweather', serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Titillium Web', sans-serif; */
}

h1{
    font-size: 55px;
}
h2{
    font-size: 45px;
    font-weight: 600;
}
.orange_color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.top-banner{
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-size:  77px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.left{
    padding-left: 8%;
}
.right{
    width: 50%;
}
.build{
    padding-top: 3%;
}
.main{
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: justify;
}
.half-width img {
    background-size:auto;
    /* height: 60%;
    width: 82%; */
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 9px 39px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

/* close section class=".top-banner"  */


.big-dream{
    margin-top: 6%;
    background-image: url(images/side_bg.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 106%;
}
#ashik-rem{
    height: 125%;
}
.big-dreamer{
    padding-left: 0%;
    padding-right: 5%;
}

.expericen-banner{
    padding-bottom: 10%;
    background-image: url(images/t_red.png);
    background-repeat: no-repeat;
    background-position: -35%;
}

.experience-detail{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 20px gray;
    padding-left: 2%;
    border-radius: 5px;
}
#left{
    border-left: 10px solid orangered;
}
#right{
    border-left: 10px solid blue;
}

.experienc_item{
   padding-right: 7%;
   text-align: justify; 
}

.contact{
    display: flex;
}

.contact_ditals{
    width: 50%;
}
.contact_ditals a{
    text-decoration: none;
    padding-left: 12%;
    color: black;
}
.icon{
    font-size: 35px;
}
.fa-brands{
    color: orangered;

}
.policy{
    padding-top: 13px;
}

footer{
    padding-top: 5%;
    text-align: center;
}
